NEXT_PUBLIC_SUPABASE_URL=XXX
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.iqbyrlehypnkowtjzlwz:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.iqbyrlehypnkowtjzlwz:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

